<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.byteowls.capacitor.oauth2">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application android:supportsRtl="true">

        <activity
            android:name="com.byteowls.capacitor.oauth2.login.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            />

        <activity android:name="com.byteowls.capacitor.oauth2.login.ct.CustomTabMainActivity" />
        <activity android:name="com.byteowls.capacitor.oauth2.login.ct.CustomTabRedirectActivity" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${capacitorOAuth2CustomScheme}" />
            </intent-filter>
        </activity>

    </application>
</manifest>
